<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Acerca de Nosotros</title>
  </head>
  <body>

    <div class='container'>
      <h4 id='about'>Acerca de Nosotros</h4>

      <div class='row'>
        <div class='col s12 m6'>
          <img
            class='responsive-img'
            src='/images/Biblioteca.png'
            alt='Equipo'
          />
        </div>
        <div class='col s12 m6'>
          <p class='flow-text' style='text-align: justify;'>
            Nuestra biblioteca es más que un conjunto de estantes llenos de
            libros; es un espacio donde la imaginación florece, la curiosidad se
            nutre y el aprendizaje se convierte en un viaje interminable. Ya
            seas un ávido lector en busca de tu próxima historia favorita o un
            investigador en busca de conocimiento, aquí encontrarás un lugar
            donde tu pasión por la lectura se transformará en experiencias
            inolvidables.
          </p>
        </div>
      </div>

      <h5>Integrantes:</h5>
     
        <li class='collection-item'>Arroyo Rodriguez Diana</li>
        <li class='collection-item'>Reyes Granillo Jose Luis</li>
    </div>
  </body>
</html>