<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Biblioteca</title>
</head>
<body>
   <div class="container">
    <div class="row">
      <div class="col s12">
        <center>
            <img class="responsive-img" src="/images/Welcome.png" alt="Bienvenida" width="600" height="600">
        <p class="flow-text" style="text-align: center;">
<<<<<<< HEAD
         📚✨ ¡Bienvenido a nuestra biblioteca! 📚✨
=======
          ¡Bienvenido a nuestra biblioteca! 📚✨
>>>>>>> baed5f7 (Estetica)
          <br>
          En este rincón de conocimiento, te invitamos a explorar las páginas de historias, descubrimientos y sabiduría que residen en cada libro. Sumérgete en un viaje literario donde cada obra es una puerta a mundos fascinantes, ideas innovadoras y aventuras inolvidables.
        </p>
        </center>
      </div>
    </div>
</body>
</html>